# **DATA PREPROCESSING**

In [22]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np


dataset = pd.read_csv(r'Car_sales.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  121 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   155 non-null    float64
 6   Engine_size          156 non-null    float64
 7   Horsepower           156 non-null    float64
 8   Wheelbase            156 non-null    float64
 9   Width                156 non-null    float64
 10  Length               156 non-null    float64
 11  Curb_weight          155 non-null    float64
 12  Fuel_capacity        156 non-null    float64
 13  Fuel_efficiency      154 non-null    float64
 14  Latest_Launch        157 non-null    object
 15  Power_perf_factor    155 non-null    float64
dtypes: float64(12), object(4)
memory usage: 19.8+ KB

In [6]:
# If we want to drop the text column so here is the code
drop_dataset = dataset.drop(['Manufacturer','Model','Vehicle_type','Latest_Launch'],axis = 'columns')
drop_dataset.info()
# if we want to use it later so we can just replace drop_dataset with dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_in_thousands   157 non-null    float64
 1   __year_resale_value  121 non-null    float64
 2   Price_in_thousands   155 non-null    float64
 3   Engine_size          156 non-null    float64
 4   Horsepower           156 non-null    float64
 5   Wheelbase            156 non-null    float64
 6   Width                156 non-null    float64
 7   Length               156 non-null    float64
 8   Curb_weight          155 non-null    float64
 9   Fuel_capacity        156 non-null    float64
 10  Fuel_efficiency      154 non-null    float64
 11  Power_perf_factor    155 non-null    float64
dtypes: float64(12)
memory usage: 14.8 KB

Missing Data

In [ ]:
#  Handling the null values

print("\n1- Do you want to drop null values?\n2- Do you want to fill null values with median?")
op1 = int(input("Enter: "))
if op1 == 1:
    dataset = dataset.dropna()

elif op1 == 2:
    dataset.__year_resale_value = dataset.__year_resale_value.fillna(dataset.__year_resale_value.median())
    dataset.Price_in_thousands = dataset.Price_in_thousands.fillna(dataset.Price_in_thousands.median())
    dataset.Engine_size = dataset.Engine_size.fillna(dataset.Engine_size.median())
    dataset.Horsepower = dataset.Horsepower.fillna(dataset.Horsepower.median())
    dataset.Wheelbase = dataset.Wheelbase.fillna(dataset.Wheelbase.median())
    dataset.Width = dataset.Width.fillna(dataset.Width.median())
    dataset.Length = dataset.Length.fillna(dataset.Length.median())
    dataset.Curb_weight = dataset.Curb_weight.fillna(dataset.Curb_weight.median())
    dataset.Fuel_capacity = dataset.Fuel_capacity.fillna(dataset.Fuel_capacity.median())
    dataset.Fuel_efficiency = dataset.Fuel_efficiency.fillna(dataset.Fuel_efficiency.median())
    dataset.Power_perf_factor = dataset.Power_perf_factor.fillna(dataset.Power_perf_factor.median())

else :
    print("Error!!! Invalid input. Please try again.")

dataset.info()

# dataset.head(50)

1- Do you want to drop null values?
2- Do you want to fill null values with median?
Enter: 1
<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 149
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         117 non-null    object
 1   Model                117 non-null    object
 2   Sales_in_thousands   117 non-null    float64
 3   __year_resale_value  117 non-null    float64
 4   Vehicle_type         117 non-null    object
 5   Price_in_thousands   117 non-null    float64
 6   Engine_size          117 non-null    float64
 7   Horsepower           117 non-null    float64
 8   Wheelbase            117 non-null    float64
 9   Width                117 non-null    float64
 10  Length               117 non-null    float64
 11  Curb_weight          117 non-null    float64
 12  Fuel_capacity        117 non-null    float64
 13  Fuel_efficiency      117 non-null    float64
 14  Latest_Launch        117 non-null    object
 15  Power_perf_factor    117 non-null    float64
dtypes: float64(12), object(4)
memory usage: 15.5+ KB

Worng Format

In [ ]:
# As we can see that there are no wrong format data in the dataset so we skip this step
dataset.head(50)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,8/9/2011,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2/27/2012,134.656858
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,1/29/2012,81.877069
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,4/4/2011,83.998724
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,11/2/2011,71.181451
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,9/3/2011,95.636703
12,Buick,Park Avenue,27.851,20.190,Passenger,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,3/23/2012,85.828408
13,Buick,LeSabre,83.257,13.360,Passenger,27.885,3.8,205.0,112.2,73.5,200.0,3.591,17.5,25.0,7/23/2011,84.254526
14,Cadillac,DeVille,63.729,22.525,Passenger,39.895,4.6,275.0,115.3,74.5,207.2,3.978,18.5,22.0,2/23/2012,113.854598
16,Cadillac,Eldorado,6.536,25.725,Passenger,39.665,4.6,275.0,108.0,75.5,200.6,3.843,19.0,22.0,11/27/2011,113.765874
17,Cadillac,Catera,11.185,18.225,Passenger,31.010,3.0,200.0,107.4,70.3,194.8,3.770,18.0,22.0,9/28/2011,83.483094
19,Chevrolet,Cavalier,145.519,9.250,Passenger,13.260,2.2,115.0,104.1,67.9,180.9,2.676,14.3,27.0,8/17/2011,46.363347
20,Chevrolet,Malibu,135.126,11.225,Passenger,16.535,3.1,170.0,107.0,69.4,190.4,3.051,15.0,25.0,3/19/2012,67.314462
21,Chevrolet,Lumina,24.629,10.310,Passenger,18.890,3.1,175.0,107.5,72.5,200.9,3.330,16.6,25.0,5/24/2011,69.991396
22,Chevrolet,Monte Carlo,42.593,11.525,Passenger,19.390,3.4,180.0,110.5,72.7,197.9,3.340,17.0,27.0,12/22/2011,72.030917
23,Chevrolet,Camaro,26.402,13.025,Passenger,24.340,3.8,200.0,101.1,74.1,193.2,3.500,16.8,25.0,10/23/2011,81.118543
24,Chevrolet,Corvette,17.947,36.225,Passenger,45.705,5.7,345.0,104.5,73.6,179.7,3.210,19.1,22.0,5/12/2012,141.141150
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,174.3,2.398,13.2,33.0,9/11/2011,48.297636
26,Chevrolet,Metro,21.855,5.160,Passenger,9.235,1.0,55.0,93.1,62.6,149.4,1.895,10.3,45.0,4/13/2012,23.276272
28,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,190.9,2.967,15.9,24.0,1/16/2012,65.957184
29,Chrysler,Sebring Conv.,32.775,14.180,Passenger,24.495,2.5,168.0,106.0,69.2,193.0,3.332,16.0,24.0,11/17/2011,69.521355
30,Chrysler,Concorde,31.148,13.725,Passenger,22.245,2.7,200.0,113.0,74.4,209.1,3.452,17.0,26.0,6/6/2012,80.023782
31,Chrysler,Cirrus,32.306,12.640,Passenger,16.480,2.0,132.0,108.0,71.0,186.0,2.911,16.0,27.0,10/6/2011,53.566200
32,Chrysler,LHS,13.462,17.325,Passenger,28.340,3.5,253.0,113.0,74.4,207.7,3.564,17.0,23.0,5/8/2012,101.329281
35,Dodge,Neon,76.034,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,174.4,2.567,12.5,29.0,12/12/2011,52.084899
36,Dodge,Avenger,4.734,12.545,Passenger,19.045,2.5,163.0,103.7,69.1,190.2,2.879,15.9,24.0,7/1/2012,65.650508
37,Dodge,Stratus,71.186,10.185,Passenger,20.230,2.5,168.0,108.0,71.0,186.0,3.058,16.0,24.0,10/31/2011,67.876108
39,Dodge,Viper,0.916,58.470,Passenger,69.725,8.0,450.0,96.2,75.7,176.7,3.375,19.0,16.0,8/7/2011,188.144323
40,Dodge,Ram Pickup,227.061,15.060,Car,19.460,5.2,230.0,138.7,79.3,224.2,4.470,26.0,17.0,3/6/2012,90.211700
41,Dodge,Ram Wagon,16.767,15.510,Car,21.315,3.9,175.0,109.6,78.8,192.6,4.245,32.0,15.0,1/6/2012,71.135292
42,Dodge,Ram Van,31.038,13.425,Car,18.575,3.9,175.0,127.2,78.8,208.5,4.298,32.0,16.0,7/26/2012,70.078322
43,Dodge,Dakota,111.313,11.260,Car,16.980,2.5,120.0,131.0,71.5,215.0,3.557,22.0,19.0,11/25/2011,49.645002
45,Dodge,Caravan,181.749,12.025,Car,19.565,2.4,150.0,113.3,76.8,186.3,3.533,20.0,24.0,9/1/2011,61.227000
46,Ford,Escort,70.227,7.425,Passenger,12.070,2.0,110.0,98.4,67.0,174.7,2.468,12.7,30.0,3/31/2012,44.083709
47,Ford,Mustang,113.369,12.760,Passenger,21.560,3.8,190.0,101.3,73.1,183.2,3.203,15.7,24.0,1/31/2012,76.509185
48,Ford,Contour,35.068,8.835,Passenger,17.035,2.5,170.0,106.5,69.1,184.6,2.769,15.0,25.0,8/20/2012,67.351011
49,Ford,Taurus,245.815,10.055,Passenger,17.885,3.0,155.0,108.5,73.0,197.6,3.368,16.0,24.0,12/20/2011,62.503740
51,Ford,Crown Victoria,63.403,14.210,Passenger,22.195,4.6,200.0,114.7,78.2,212.0,3.908,19.0,21.0,9/26/2011,80.499537
52,Ford,Explorer,276.747,16.640,Car,31.930,4.0,210.0,111.6,70.2,190.7,3.876,21.0,19.0,4/25/2012,87.635496
53,Ford,Windstar,155.787,13.175,Car,21.410,3.0,150.0,120.7,76.6,200.9,3.761,26.0,21.0,2/25/2012,62.095048
54,Ford,Expedition,125.338,23.575,Car,36.135,4.6,240.0,119.0,78.7,204.6,4.808,26.0,16.0,9/14/2012,100.024802
55,Ford,Ranger,220.650,7.850,Car,12.050,2.5,119.0,117.5,69.4,200.7,3.086,20.0,23.0,1/14/2012,47.389531
56,Ford,F-Series,540.561,15.075,Car,26.935,4.6,220.0,138.5,79.1,224.5,4.241,25.1,18.0,8/16/2012,89.401935
57,Honda,Civic,199.685,9.850,Passenger,12.885,1.6,106.0,103.2,67.1,175.1,2.339,11.9,32.0,10/21/2011,42.879097
58,Honda,Accord,230.902,13.210,Passenger,15.350,2.3,135.0,106.9,70.3,188.8,2.932,17.1,27.0,5/20/2012,54.269548
59,Honda,CR-V,73.203,17.710,Car,20.550,2.0,146.0,103.2,68.9,177.6,3.219,15.3,24.0,3/21/2012,60.087967

Duplicate Values

In [2]:
dataset.duplicated().sum()

0

Wrong Data

In [ ]:
# Now we are handling the wrong data by manually analyzing the data searched on google (this step is not necessary)
# All the information that are given below is by the google, date is 10/12/2022

flag = 0
# biggest engine size is 8.0 litre
for i in dataset['Engine_size']:
    if i > 8.0:
        flag = 1
        print(i)

# maximum horse power is 1479hp
for i in dataset['Horsepower']:
    if i > 1479.0:
        flag = 1
        print(i)

# maximum wheelbase is 3820
for i in dataset['Wheelbase']:
    if i > 3820.0:
        flag = 1
        print(i)

# maximum Width is 198 cm
for i in dataset['Width']:
    if i > 198.0:
        flag = 1
        print(i)

# maximum Length is 427 cm
for i in dataset['Length']:
    if i > 427.0:
        flag = 1
        print(i)

# maximum Curb_weight is 6 ton
for i in dataset['Curb_weight']:
    if i > 6.0:
        flag = 1
        print(i)


# maximum Fuel_capacity is 33.5 gallons
for i in dataset['Fuel_capacity']:
    if i > 33.5:
        flag = 1
        print(i)

# maximum Fuel_efficiency is Kia Picanto (58.9mpg)
for i in dataset['Fuel_efficiency']:
    if i > 58.9:
        flag = 1
        print(i)

# maximum Power_perf_factor is 1577 bhp (Bugatti Chiron Super Sport 300+)
for i in dataset['Power_perf_factor']:
    if i > 1577.0:
        flag = 1
        print(i)


if flag == 0:
    print("No Wrong data")
else:
    print("There is wrong data present")

No Wrong data

In [ ]:
# dropped = dataset.drop(['Manufacturer','Model','Vehicle_type','Latest_Launch'], axis = 'columns')
# dropped.info()
# dataset.info()
# dataset_sorted = list(dropped)
# print(dataset_sorted)
# dataset_sorted.remove(dataset_sorted[0,:])
# dataset_sorted = list(dataset_sorted[1:117,:])
# print(dataset_sorted)

# dataset_sorted.sort(key = lambda x: x[3])
# dataset_sorted.head

Detecting Outliers

In [24]:
# Detecting outliers through function IQR method. Later we'll see the outliers through visualization and may be remove the outliers if accuracy is not good
def identify_outliers(dataset):
    Q1 = np.percentile(dataset, 25)
    Q3 = np.percentile(dataset, 75)
    IQR = Q3 - Q1
    cutoff = 1.5 * IQR
    lower, upper = Q1 - cutoff, Q3 + cutoff
    outliers = [i for i in dataset if i < lower or i > upper]
    return outliers

print("\n----------------------------------------------------------------------------------------------------------------\n")
print("Outliers in Sales_in_thousands\n",identify_outliers(dataset.iloc[:,2]))
print("\n----------------------------------------------------------------------------------------------------------------\n")
print("Outliers in __year_resale_value\n",identify_outliers(dataset.iloc[:,3]))
print("\n----------------------------------------------------------------------------------------------------------------\n")
print("Outliers in Price_in_thousandss\n",identify_outliers(dataset.iloc[:,5]))
print("\n----------------------------------------------------------------------------------------------------------------\n")

# 2 -> Sales_in_thousands
# 3 -> __year_resale_value
# 5 -> Price_in_thousands

----------------------------------------------------------------------------------------------------------------

Outliers in Sales_in_thousands
 [227.061, 181.749, 245.815, 175.67, 276.747, 155.787, 220.65, 540.561, 199.685, 230.902, 157.04, 247.994]

----------------------------------------------------------------------------------------------------------------

Outliers in __year_resale_value
 []

----------------------------------------------------------------------------------------------------------------

Outliers in Price_in_thousandss
 []

----------------------------------------------------------------------------------------------------------------